.drop{
    position: absolute;
    top:20px;
    right: 20px;
}
.btn1{
    background-color: #ffb84d;
    margin-bottom: 10px;
    border: #ffb84d;
    color: black;
}

.btn1:hover{
    background-color: #ff9a01;
    color: black;
}

